.commandInput {
    height: 500px;
    margin-left: 30px;
}

.commandInput__control,
.commandInput__control textarea {
    height: 100%;
}

.commandInput__button {
    margin-right: 10px;
}

.commandInput__controls {
    display: flex;
    margin-top: 10px;
}