.app {
    background: #eee;
    min-height: 100vh;
}

.app__content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 30px 30px 90px 30px;
}

.app__header {
    width: 100%;
    height: 5rem;
    background: #fff;
    user-select: none;
}